<div class="card">
  <img src="{{image.url}}" alt="" class="card-img-top" width="200" height="200">
  <div class="card-body text-center">
    <div class="row justify-content-around">
            <span class="badge badge-pill badge-danger p-2">
              <i class="fas fa-heart"></i> {{image.likesCount}}
            </span>
      <span class="badge badge-pill badge-warning p-2">
              <i class="fas fa-download"></i> {{image.downloadsCount}}
            </span>
    </div>  </div>
</div>
