<app-navigation></app-navigation>
<div class="container">
  <h1 class="display-4 mt-3 mb-3">
    {{ 'DASHBOARD.MANAGE_USERS' | translate }}
    <button class="btn btn-outline-success d-inline" data-toggle="modal" data-target="#createUserModal">
      <i class="fas fa-plus"></i>
    </button>
  </h1>
  <div class="modal fade" id="createUserModal" tabindex="-1" role="dialog" aria-labelledby="createUserModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createUserModalTitle">{{ 'DASHBOARD.CREATE_NEW_USER_WITH_EMAIL_AND_PASSWORD' | translate }}</h5>
          <button type="button" class="close text-secondary" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>{{ 'DASHBOARD.EMAIL' | translate }}</label>
            <input type="email" class="form-control bg-dark text-secondary" placeholder="email@example.com" [(ngModel)]="email" required>
          </div>
          <div class="form-group">
            <label>{{ 'DASHBOARD.PASSWORD' | translate }}</label>
            <input type="password" class="form-control bg-dark text-secondary" placeholder="{{ 'DASHBOARD.PASSWORD' | translate }}" [(ngModel)]="password" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">{{ 'DASHBOARD.CANCEL' | translate }}</button>
          <button type="button" class="btn btn-outline-success" data-dismiss="modal" (click)="apiService.createUser(email, password)">
            {{ 'DASHBOARD.CREATE_USER' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <table class="table text-center text-secondary table-borderless">
    <tr class="table-primary">
      <td scope="col">{{ 'DASHBOARD.EMAIL' | translate }}</td>
      <td scope="col">UID</td>
      <td scope="col">{{ 'DASHBOARD.DISPLAY_NAME' | translate }}</td>
      <td scope="col">{{ 'DASHBOARD.PROVIDERS' | translate }}</td>
      <td scope="col">{{ 'DASHBOARD.CREATED' | translate }}</td>
      <td scope="col">{{ 'DASHBOARD.LAST_SIGNED_IN' | translate }}</td>
    </tr>
    <tbody>
    <tr *ngFor="let user of exportedUsers">
      <td class="text-light text-left">{{user.email}}</td>
      <td>{{user.uid}}</td>
      <td>{{user.displayName ? user.displayName : "-"}}</td>
      <td>
        <div *ngFor="let pr of user.providers">
          <div *ngIf="pr == emailProviderId"><i class="fas fa-envelope text-warning"></i></div>
          <div *ngIf="pr == googleProviderId"><i class="fab fa-google text-info"></i></div>
          <div *ngIf="pr == fbProviderId"><i class="fab fa-facebook-f"></i></div>
          <div *ngIf="pr == twitterProviderId"><i class="fab fa-twitter"></i></div>
          <div *ngIf="pr == githubProviderId"><i class="fab fa-github"></i></div>
        </div>
      </td>
      <td>{{user.creationTime}}</td>
      <td>{{user.lastSignInTime}}</td>
      <td>
        <button *ngIf="user.uid != authService.UserUid" class="btn btn-outline-danger btn-sm" (click)="apiService.deleteUser(user.uid)">
          <i class="fas fa-trash"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <h1 class="display-4 mt-3 mb-3">{{ 'DASHBOARD.DOWNLOADS' | translate }}</h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <div class="card text-center border-info">
          <div class="card-header">{{ 'DASHBOARD.TODAY' | translate }}</div>
          <h1 class="display-4 text-info">{{downloadsCount1}}</h1>
        </div>
      </div>
      <div class="col-2">
        <div class="card text-center border-success">
          <div class="card-header">{{ 'DASHBOARD.LAST_WEEK' | translate }}</div>
          <h1 class="display-4 text-success">{{downloadsCount7}}</h1>
        </div>
      </div>
      <div class="col-2">
        <div class="card text-center border-warning">
          <div class="card-header">{{ 'DASHBOARD.LAST_MONTH' | translate }}</div>
          <h1 class="display-4 text-warning">{{downloadsCount31}}</h1>
        </div>
      </div>
      <div class="col-2">
        <div class="card text-center border-danger">
          <div class="card-header">{{ 'DASHBOARD.LAST_YEAR' | translate }}</div>
          <h1 class="display-4 text-danger">{{downloadsCount365}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
