<div class="container">
  <div class="container text-center p-3">
    <h1 class="display-4">
      <img src="https://storage.cloud.google.com/worldvision-7.appspot.com/web/icons8-iris-scan-96.png?cloudshell=false&supportedpurview=project"
           alt="" width="80" height="80" class="mr-4">
      <span class="text-info">WORLD</span>
      <span class="text-success">VISION</span>
    </h1>
    <blockquote class="blockquote text-center">
      <p class="mb-0">{{ 'GUEST.QUOTE' | translate }}</p>
      <footer class="blockquote-footer">{{ 'GUEST.NAME' | translate }}</footer>
    </blockquote>
  </div>
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-4">
            <div class="card border-info">
              <div class="card-header">{{ 'GUEST.SIGN_UP' | translate }}</div>
              <div class="card-body">
                <div class="form-group">
                  <label>{{ 'GUEST.EMAIL' | translate }}</label>
                  <input type="email" class="form-control" placeholder="email@example.com" #userEmail required>
                </div>
                <div class="form-group">
                  <label>{{ 'GUEST.PASSWORD' | translate }}</label>
                  <input type="password" class="form-control" placeholder="{{ 'GUEST.PASSWORD' | translate }}" #userPwd required>
                </div>
                <div class="form-group text-center">
                  <input type="button" class="btn btn-info" value="{{ 'GUEST.SIGN_UP' | translate }}" (click)="authService.SignUp(userEmail.value, userPwd.value)">
                </div>
              </div>
            </div>
      </div>
      <div class="col-4">
        <div class="card border-success">
            <div class="card-header">{{ 'GUEST.SIGN_IN' | translate }}</div>
            <div class="card-body">
              <div class="form-group">
                <label>{{ 'GUEST.USERNAME_OR_EMAIL' | translate }}</label>
                <input type="text" class="form-control" placeholder="email@example.com" #userName required>
              </div>
              <div class="form-group">
                <div class="row">
                  <label class="col">{{ 'GUEST.PASSWORD' | translate }}</label>
<!--                  <a routerLink="/forgot-password" class="col">Forgot Password?</a>-->
                </div>
                <input type="password" class="form-control" placeholder="{{ 'GUEST.PASSWORD' | translate }}" #userPassword required>
              </div>
              <div class="form-group text-center">
                <input type="button" class="btn btn-success btn" value="{{ 'GUEST.SIGN_IN' | translate }}" (click)="authService.SignIn(userName.value, userPassword.value)">
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center">
    <div class="container m-2">
      {{ 'GUEST.OR_SIGN_IN_WITH' | translate }}
    </div>
    <div class="row justify-content-center">
      <button class="btn m-2" (click)="authService.GoogleAuth()">
        <i class="fab fa-google"></i>
      </button>
      <button class="btn m-2" (click)="authService.FacebookAuth()">
        <i class="fab fa-facebook-f"></i>
      </button>
      <button class="btn m-2" (click)="authService.TwitterAuth()">
        <i class="fab fa-twitter"></i>
      </button>
      <button class="btn m-2" (click)="authService.GithubAuth()">
        <i class="fab fa-github"></i>
      </button>
    </div>
  </div>
</div>

