<nav class="navbar navbar-pr bg-primary navbar-expand-lg justify-content-between">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/search">
      <img src="https://storage.cloud.google.com/worldvision-7.appspot.com/web/icons8-iris-scan-96.png?cloudshell=false&supportedpurview=project"
           alt="" width="40" height="40" class="mr-1">
      <span class="text-info">WORLD</span>
      <span class="text-success">VISION</span>
    </a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/user">{{ 'NAVIGATION.PROFILE' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/search">{{ 'NAVIGATION.SEARCH' | translate }}</a>
      </li>
      <li class="nav-item">
        <a *ngIf="authService.IsAdmin" class="nav-link" routerLink="/dashboard">{{ 'NAVIGATION.DASHBOARD' | translate }}</a>
      </li>
    </ul>
  </div>
  <div class="dropdown">
    <a class="dropdown-toggle" id="dropDownMenuUserIcon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img src="{{authService.userData.photoURL}}" alt="" width="50" height="50" style="border-radius: 50%">
      <i *ngIf="!authService.userData.photoURL" class="fas fa-user" style="font-size: 2.5em;"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropDownMenuUserIcon">
      <div class="card text-center">
        <img src="{{authService.userData.photoURL}}" class="card-img-top" alt="">
        <i *ngIf="!authService.userData.photoURL" class="fas fa-user" style="font-size: 3.5em;"></i>
        <div class="card-body">
          <div class="card-title">
            {{authService.userData.displayName}}
          </div>
        </div>
        <div class="card-body text-center">
          <button class="btn btn-outline-secondary btn-block" (click)="authService.SignOut()">{{ 'NAVIGATION.SIGN_OUT' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</nav>
